* {
  padding: 0;
  margin: 0;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
 display: flex;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  background-color: #222;

  .quantity {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    max-width: max-content;
    color: #9E2412;
    font-size: 1.5rem;
  }

  #all-refresh {
    background-color: transparent;
    border: none;
    color: #9E2412;
    font-size: 1.75rem;
    cursor: pointer;
  }
}

#colors {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  .grid-row {
    flex: 1;
    width: 100%;
    height: 100%;
  }
  .color {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &.dark {
      * {
        color: #fff;
      }
    }
    &-names {
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    &-name {
      border-radius: 40px;
      cursor: pointer;
      padding: 10px 20px;
      transition: background-color 300ms;
      width: max-content;
      margin: 0 auto;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
    button {
      outline: none;
      background-color: transparent;
      border: none;
      font-size: 1.5rem;
      transition: background-color 300ms;
      border-radius: 10px;
      cursor: pointer;
      padding: 5px 7px;
      margin: 0 auto;
      width: max-content;
      i {
        pointer-events: none;
      }
      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }
}


